<!-- This section is for Splash Screen -->
<section id="jSplash"></section>
<!-- End of Splash Screen -->

<footer class="footer">
    <div class="container">
        <span class="text-muted" data-i18n="MAIN-WELCOME_ORIGINALMY_BLOCKCHAINID">Bem Vindo a OriginalMy - Blockchain ID</span>
    </div>
</footer>

</body>
<% include footer_scripts %>
</html>