<!doctype html>
<html lang="EN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><%= page_title %></title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="/css/jpreloader.css" rel="stylesheet" />
        <link href="/js/vendor/prism/prism.css" rel="stylesheet" />
        
        <link href="/css/main.css" rel="stylesheet" />
        <link rel="shortcut icon" href="/images/favicon.ico">

    </head>
    <body id="bodyMainID" data-pagens="<%= pageNS %>">