<!-- LAYOUT/MENU -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-img" src="/images/originalmy-logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul id="navbarListID" class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" data-pagens="home" href="/" data-i18n="MAIN-HOME">Página Inicial</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-pagens="documentation" href="/documentation" data-i18n="MAIN-DOCUMENTATION" >Documentação</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <div class="btn-group">
                <a type="button" class="btn btn-secondary btn-lang-flag dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span data-i18n="MAIN-CURRENT_LNG">PT</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item btn-lang" href="javascript:void(0)" data-lang="EN">
                        <img src="/images/flags/en.svg" style="max-width: 20px">
                    </a>
                    <a class="dropdown-item btn-lang" href="javascript:void(0)" data-lang="PT">
                        <img src="/images/flags/pt.svg" style="max-width: 20px">
                    </a>
                </div>
            </div>
        </div> 
        </div>
    </nav>
</header>
<!-- //LAYOUT/MENU -->