/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 75px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-brand-img {
  width: 200px;
}

.row-space-20 {
  margin-bottom: 20px;
}

.row-space-30 {
  margin-bottom: 30px;
}

/* -------------- */
#documentConstent section h1 {
  margin-top: 75px;
}

#homeConstent section h1 {
  margin-top: 75px;
}

#homeConstent section {
  margin-top: 40px;
  margin-bottom: 40px;
}

#homeConstent div.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .navbar-brand-img {
    width: 200px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .navbar-nav{
    font-size: 20px
  }

  .navbar-brand-img {
    width: 200px
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  body > .container {
    padding: 130px 15px 0;
  }

  .navbar-nav{
    font-size: 25px
  }

  .navbar-brand-img {
    width: 250px
  }
  
}