<div id="homeConstent">

    <section>
        <h1 class="text-center" data-i18n="home:HEADER_000">Usando a Identidade Blockchain da OriginalMy</h1>
        <div class="container">
            <div class="row text-center row-space-30">
                <div class="col col-lg-6">
                    <img src="/images/user_identidade.png" style="max-width: 300px" alt="User" class="img-fluid" />
                </div>
                <div class="col col-lg-6">
                    <img src="/images/key_identidade.png" style="max-width: 300px" alt="Key" class="img-fluid" />
                </div>
            </div>
            <div class="row">
                <div class="col col-lg">
                    <p class="lead" data-i18n="home:INFO_001">
                        Através do nosso app, nós fazemos a validação de identidade dos usuários. Após o cadastro completo, o sistema cria uma Identidade
                        Blockchain que fica em posse do usuário. Através dessa identidade única e exclusiva, o usuário pode
                        efetuar ações na internet, como efetuar login em sites sem colocar senha e preencher formulários.
                    </p>
                </div>
            </div>
        </div>
        <hr />
    </section>


    <section>
        <h1 class="text-center" data-i18n="home:HEADER_001">Passo 1 - Encontre o botão com o Logo da OriginalMy</h1>
        <div class="container">
            <div class="row row-space-30">
                <div class="col col-lg">
                    <p data-i18n="home:INFO_002">
                        Podem existir variações de tamanhos e layout
                    </p>
                    <p data-i18n="home:INFO_003">
                        Está com dúvida se o site que está utilizando é realmente um Cliente OriginalMY ?
                    </p>
                    <span data-i18n="home:INFO_004">Entre em contato através do email</span> <a href="mailto:contato@originalmy.com">contato@originalmy.com</a>
                    
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg">
                    <img src="/images/btn_exemplo.png" alt="Button" class="img-fluid" />
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg">
                    <img src="/images/login_exemplo.png" alt="Login" class="img-fluid" />
                </div>
            </div>
        </div>
        <hr />
    </section>


    <section>
        <h1 class="text-center" data-i18n="home:HEADER_002">Passo 2 - Clique</h1>
        <div class="container">
            <div class="row row-space-30">
                <div class="col col-lg">
                    <p data-i18n="home:INFO_005">
                        Ao clicar no botão uma janela será mostrada. Nela será exibido QRCode para ser lido pelo aplicativo da OriginalMy.
                    </p>
                    <p data-i18n="home:INFO_006">
                        Este QRCode solicita ao aplicativo as informações necessárias para compartilhar com o site.
                    </p>
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg">
                    <img src="/images/qrcode_exemplo.png"  style="max-width: 250px" alt="QRCode" class="img-fluid" />
                </div>
            </div>
        </div>
        <hr />
    </section>


    <section>
        <h1 class="text-center" data-i18n="home:HEADER_003">Passo 3 - Abra seu aplicativo</h1>
        <div class="container">
            <div class="row row-space-30">
                <div class="col col-lg">
                    <p data-i18n="home:INFO_007">
                        No seu aplicativo clique no botão “USAR BLOCKCHAIN ID”
                    </p>
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg">
                    <img src="/images/mobile_home_exemplo.png"  style="max-width: 300px" alt="QRCode" class="img-fluid" />
                </div>
            </div>
        </div>
        <hr />
    </section>


    <section>
        <h1 class="text-center" data-i18n="home:">Passo 4 - Ler QRCode</h1>
        <div class="container">
            <div class="row row-space-30">
                <div class="col col-lg">
                    <p data-i18n="home:INFO_008">
                        Uma tela com sua camera irá aparecer. Posicione o QRCode no quadrado em sua tela.
                    </p>
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg-6">
                    <img src="/images/ler_qrcode1_exemplo.png"  style="max-width: 300px" alt="QRCode" class="img-fluid" />
                </div>
                <div class="col col-lg-6">
                    <img src="/images/ler_qrcode2_exemplo.png"  style="max-width: 300px" alt="QRCode" class="img-fluid" />
                </div>
            </div>
        </div>
        <hr />
    </section>


    <section>
        <h1 class="text-center" data-i18n="home:HEADER_005">Passo 5 - Confirme as informações</h1>
        <div class="container">
            <div class="row row-space-30">
                <div class="col col-lg">
                    <p data-i18n="home:INFO_009">
                        Neste passo iremos detalhar quais informações o site está solicitando.
                    </p>
                    <p data-i18n="home:INFO_010">
                        Veja o exemplo abaixo, em que o site da OriginalMy solicita :
                    </p>
                    <p data-i18n="home:">
                        <ul>
                            <li><strong data-i18n="home:FIELD_NAME">Seu Nome</strong></li>
                            <li><strong data-i18n="home:FIELD_BLOCKCHAINID">A chave pública da sua Identidade Blockchain </strong></li>
                            <li><strong data-i18n="home:FIELD_EMAIL">Seu E-Mail</strong></li>
                        </ul>
                    </p>
                    <p data-i18n="home:INFO_011">
                        Ao clicar em OK o aplicativo enviará exatamente essas informações para o site, de forma criptografada.
                    </p>
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg">
                    <img src="/images/mobile_data_exemplo.png"  style="max-width: 300px" class="img-fluid" />
                </div>
            </div>
        </div>
        <hr />
    </section>



    <section>
        <h1 class="text-center" data-i18n="home:">Passo 6 - Login Autorizado</h1>
        <div class="container">
            <div class="row row-space-30">
                <div class="col col-lg">
                    <p data-i18n="home:INFO_012">
                        Neste passo a OriginalMy já realizou as validações de segurança. Garantindo a liberação segura das informações.
                    </p>
                    <p data-i18n="home:INFO_013">
                        A mensagem “Login autorizado com Sucesso” irá ser exibida.
                    </p>
                    <p data-i18n="home:INFO_014">
                        E você estará a apenas 1 passo de realizar o seu login.
                    </p>
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg">
                    <img src="/images/mobile_login_sucesso_exemplo.png"  style="max-width: 300px" class="img-fluid" />
                </div>
            </div>
        </div>
        <hr />
    </section>

    <section>
        <h1 class="text-center" data-i18n="home:HEADER_007">Passo 7 - Login no Site</h1>
        <div class="container">
            <div class="row row-space-30">
                <div class="col col-lg">
                    <p data-i18n="home:INFO_015">
                        Este é o ultimo passo. Após todas as validações de segurança, o Site já pode realizar o seu Login. 
                    </p>
                    <p data-i18n="home:INFO_016">
                        Sua Identidade Blockchain é segura e garante seu login sem o uso de senha.
                    </p>
                    <p data-i18n="home:INFO_017">
                        Agora você está pronto para navegar no Site de maneira segura e confiável. 
                    </p>
                </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg">
                    <img src="/images/user_bar_exemplo.png"  class="img-fluid" />
                </div>
            </div>
        </div>
        <hr />
    </section>

    <section>
        <h1 class="text-center" data-i18n="home:HEADER_008">Criando sua Identidade Blockchain</h1>
        <div class="container">
            <div class="row row-space-30">
            <div class="col col-lg">
                <p data-i18n="home:INFO_018">
                    Para utilizar o OMID e sua Identidade Blockchain basta seguir os seguintes passos :
                </p>
                <ul>
                    <li>
                        <strong data-i18n="home:INFO_019">Baixar o Aplicativo da OriginalMy na Apple Store ou na Play Store.</strong>
                    </li>
                    <li>
                        <strong data-i18n="home:INFO_020">Realizar o cadastro.</strong>
                    </li>
                    <li>
                        <strong data-i18n="home:INFO_021">Validar o seu cadastro.</strong>
                    </li>
                </ul>
                <p data-i18n="home:INFO_022">
                    Fique tranquilo o nosso aplicativo é intuitivo e fácil de usar. Todos os passos são detalhados e simples de serem realizados.
                </p>
                <span data-i18n="home:INFO_023">Para maiores informações acesse nossa</span> <a href="/documentation" data-i18n="home:INFO_024">documentação</a>
                
            </div>
            </div>
            <div class="row text-center row-space-30">
                <div class="col col-lg-6">
                    <a href="https://itunes.apple.com/br/app/assinar-documentos-com-blockchain/id1227793670?mt=8">
                        <img src="/images/button-play-store.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col col-lg-6">
                    <a href="https://play.google.com/store/apps/details?id=com.originalmy.assinardocumentos&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                        <img src="/images/button-google-play.png" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
        <hr />
    </section>

</div>